[Desktop Entry]
Name=Logo Menu
Name[es]=Menú logo
Name[uk]=Логотипменю
Exec=cosmic-ext-applet-logomenu
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=dev.cappsy.CosmicExtAppletLogoMenu
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
Keywords[es]=Carpeta;Gestor;
Keywords[uk]=Менеджер;Тека;Папка;Пуск;
MimeType=inode/directory;
NoDisplay=true
StartupWMClass=cosmic-ext-applet-logomenu
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
